.header__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__title {
    display: none;
}

.header__label-text {
    margin-bottom: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #8C8C8C;
}

.header__input::-webkit-input-placeholder { 
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #353535;
}

.header__input {
    margin-right: 15px;
    padding-left: 10px;
    padding-top: 5px;
    width: 210px;
    padding-bottom: 5px;
    border: 1px solid #E9E9E9;
}

.header__button {
    width: 90px;
    min-height: 40px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    background-color: rgba(53, 53, 53, 1);
    opacity: 1;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.header__button:hover {
    opacity: 0.8;
}



@media (max-width: 576px) {
    .header__container {
        padding-left: 0;
    }

    .header__input {
        margin-bottom: 20px;
    }

    .header__label-text {
        margin-bottom: 10px;
        max-width: 75%;
    }

    .header__input {
        margin-bottom: 15px;
    }
}