.report .container {
    padding-bottom: 106px;
}

.report__container {
    padding: 37px 40px 60px 40px;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, .1);
}

.report__table caption {
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: start;
}


tbody tr:nth-child(1),
tbody tr:nth-child(2),
tbody tr:nth-child(3) {
    border-bottom: 1px solid #E9E9E9;
}

thead th {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #939DA6;
    text-align: start;
    vertical-align: top;
}

tbody td { 
    padding: 20px 0;
    vertical-align: top;
}


tbody tr td:nth-child(1) {
    width: 14%;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #353535;
}

tbody tr td:nth-child(2) {
    width: 30%;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #353535;   
}

tbody tr td:nth-child(3) {
    width: 15%;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #353535;
}

tbody tr td:nth-child(4) {
    width: 15%;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #353535;
}

tbody tr td:nth-child(5) {
    width: 30%;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #353535;
}

.date-descr-text {
    max-width: 60%;
}

.solutions-descr-box {
    display: flex;
    flex-direction: column;
}

.solutions-descr-data:not(:last-child) {
    margin-bottom: 1px;
}


.slope-content-box,
.offset-content-box {
    display: flex;
    align-items: center;
}

.slope-descr__content,
.offset-descr__content {
    margin-right: 25px;
}

.slope-title-text {
    max-width: 65%;
}

.offset-descr__img,
.slope-descr__img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/report-images/is-point.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/report-images/error.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {
    tbody tr td:nth-child(5) {
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #353535;
    }

    .solutions-descr-data:not(:last-child) {
        margin-bottom: 5px;
    }
}


@media (max-width: 576px) {
    .report__container {
        padding: 40px 0 60px 0;
    }

    .report__table-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    tbody tr td:nth-child(1) {
        width: 17%;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #353535;
    }
    
    tbody tr td:nth-child(2) {
        padding-left: 5px;
        width: 33%;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #353535;   
    }
    
    tbody tr td:nth-child(3) {
        padding-left: 5px;
        width: 10%;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #353535;
    }
    
    tbody tr td:nth-child(4) {
        padding-left: 5px;
        width: 10%;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #353535;
    }
    
    tbody tr td:nth-child(5) {
        width: 10%;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: #353535;
    }

    .solutions-descr-data:not(:last-child) {
        margin-bottom: 5px;
    }

    thead th:nth-child(5) {
        padding-left: 5px;
    }

    .slope-descr__content,
    .offset-descr__content {
        margin-right: 10px;
    }

    .slope-title-text {
        max-width: 100%;
    }

    .slope-content-box,
    .offset-content-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .slope-descr__content,
    .offset-descr__content {
        margin-right: 0;
        margin-bottom: 10px;
    }

     .slope-descr__img,
    .offset-descr__img {
        margin-left: 3px;
    }
}