.report__container {
    padding: 83px 40px 60px 40px;
}


.report__table caption {
    margin-bottom: 27px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: start;
}

.report__table th {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #939DA6;
    text-align: start;
    border-bottom: 1px solid #E9E9E9;
}

.report__table td { 
    padding: 20px 0;
    border-bottom: 1px solid #E9E9E9;
    vertical-align: top;
}



.report__table-date-descr {
    width: calc(63 / 820 * 100%);
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #353535;
}

.date-descr-text {
    max-width: 60%;
}


.report__table-solutions-descr {
    width: calc(135 / 820 * 100%);
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #353535;   
}

.solutions-descr-box {
    display: flex;
    flex-direction: column;
}


.report__table-slope-descr {
    width: calc(66 / 820 * 100%);
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #353535;
}

.report__table-offset-descr {
    width: calc(66 / 820 * 100%);
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    color: #353535;
}

.slope-content-box,
.offset-content-box {
    display: flex;
    align-items: center;
}

.slope-descr__content,
.offset-descr__content {
    margin-right: 25px;
}

.slope-title-text {
    max-width: 70%;
}

.report__table-user-descr {
    width: calc(120 / 820 * 100%);
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #353535;
}

.offset-descr__img,
.slope-descr__img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/report-images/is-point.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-img {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../img/report-images/error.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {
    .report__table-user-descr {
        width: calc(120 / 992 * 100%);
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #353535;
    }
}


@media (max-width: 576px) {
    .report__container {
        padding: 40px 0px 60px 0px;
    }


    .report__table-date-descr {
        font-size: 11px;
        line-height: 13px;
    }

    .report__table-solutions-descr {
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #353535; 
    }

    .report__table-slope-descr,
    .report__table-offset-descr {
        font-size: 11px;
        line-height: 13px;
    }

    .report__table-user-descr {
        font-size: 11px;
        line-height: 13px;
    }

    .slope-descr__content,
    .offset-descr__content {
        margin-right: 10px;
    }

    .slope-title-text {
        max-width: 100%;
    }

    .slope-content-box,
    .offset-content-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .slope-descr__content,
    .offset-descr__content {
        margin-right: 0;
        margin-bottom: 10px;
    }

     .slope-descr__img,
    .offset-descr__img {
        margin-left: 3px;
    }
}